.header{

    height: auto;

    padding: $layout-mgn-vert $layout-mgn-hrt;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__logo{
        order: 1;
        flex-basis: 50%;


        background-color: #C4C4C4;

        .logo{
            width: 80%;
        }
    }

    &__filters{
        order: 3;
        flex-basis: 100%;
        background-color: #DB8876;

        padding: $layout-mgn-vert 0;
        text-align: center;

        & .filters-list{

            &__filter{
                margin: 0.4rem 0.1rem;

            }
        }
    }

    &__nav{
        order: 2;
        flex-basis: 50%;
        background-color: pink;
        text-align: right;


        display: flex;
        align-items: center;
        justify-content : center;

    }


}

