.header{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__logo{
        order: 1;
        flex-basis: 50%;

        .logo{
            width: 80%;
        }
    }

    &__filters{
        order: 3;
        flex-basis: 100%;

        padding: $layout-mgn-vert 0;
        text-align: center;

        & .filters-list{

            &__filter{
                margin: 0.4rem 0.1rem;

            }
        }
    }

    &__nav{
        order: 2;
        flex-basis: 50%;
        text-align: right;


        display: flex;
        align-items: center;
        justify-content : center;

    }


}

